html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
	overflow-x:hidden;
    fontfamily: 'Open Sans', sans-serif!important;
}
p {
    margin: 0px;
}
nav {
    background: #fff;
    height: 50px;
    padding: 10px;
    -webkit-box-shadow: 0px 2px 30px -3px rgba(190, 58, 43, 0.5);
    -moz-box-shadow: 0px 2px 30px -3px rgba(190, 58, 43, 0.5);
    box-shadow: 0px 2px 30px -3px rgba(190, 58, 43, 0.5);
}
.navbar-header-left {
    width: calc(50% - 50px);
    float: left
}
.navbar-header-right {
    width: calc(50% - 50px);
    text-align: right;
    float: right;
}
.div_display {
    display: inline-block
}
span.glyphicon {
    color: #c0392b;
    font-size: 22px;
    margin-left: 10px;
}
span.glyphicon:hover {
    color: #ff9001;
    transition: all 200ms ease-in-out;
}
li.open .dropdown-toggle>span,
ul.dropdown-menu.left_margin li a:hover span,
ul.dropdown-menu.right_margin li a:hover span {
    color: #ff9001;
    transition: all 200ms ease-in-out;
}
button#menu1 {
    padding: 4px 30px;
    background: #f5f3f3;
    border: 0px;
    color: #8a8989;
    margin-top: -1px;
    width: 160px;
    outline: 0px
}
input#search {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    width: 160px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    padding: 3px 7px;
    border-radius: 4px;
    border: 0px;
    background: #f5f3f3;
    margin-left: 20px;
    padding-bottom: 5px;
}
input#search:focus {
    width: 100%;
    background: #f5f3f3;
    color: #666666;
    outline: 0px
}
.container-fluid {
    margin: 0px;
    padding: 0px
}
.left-window,
.right-window {
    width: 18%;
    height: -moz-calc(100% - (20px + 30px));
    height: -webkit-calc(100% - (20px + 30px));
    height: calc(100% - (20px + 30px));
    display: inline-block;
    position: relative;
    -webkit-box-shadow: 1px 12px 30px -3px rgba(190, 58, 43, 0.5);
    -moz-box-shadow: 1px 12px 30px -3px rgba(190, 58, 43, 0.5);
    box-shadow: 1px 12px 30px -3px rgba(190, 58, 43, 0.5);
    background: white
}
.right-window {
    width: 18%;
    float: right
}
.left_marker {
    width: 40px;
    height: 40px;
    position: absolute;
    right: -40px;
    background: #c0392b;
    display: table;
    border-radius: 0px 5px 5px 0px;
    text-align: center;
    cursor: pointer
}
.right_marker {
    width: 40px;
    height: 40px;
    position: absolute;
    left: -40px;
    background: #c0392b;
    text-align: center;
    border-radius: 5px 0px 0px 5px;
    display: table;
    cursor: pointer
}

  
.marker_icns {
    color: #fff!important;
      display: table-cell!important;
      vertical-align: middle;
    font-size: 20px!important;
}

.rotate_pointer {
    transform: rotate(180deg);
    transition: all 300ms ease-in-out;
    color: #fff!important
}
.left_window_header,
.right_window_header {
    height: 40px;
    background: #f5f3f3;
    background: #e5e3e3;
    /* Old browsers */
    
    background: -moz-linear-gradient(top, #e5e3e3 0%, #f5f3f3 100%);
    /* FF3.6-15 */
    
    background: -webkit-linear-gradient(top, #e5e3e3 0%, #f5f3f3 100%);
    /* Chrome10-25,Safari5.1-6 */
    
    background: linear-gradient(to bottom, #e5e3e3 0%, #f5f3f3 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e5e3e3', endColorstr='#f5f3f3', GradientType=0);
    /* IE6-9 */
}
.left_window_header,
.right_window_header {
    display: table;
    width: 100%;
    padding-left: 15px;
    padding-right: 10px
}
.left_window_txt {
    display: table-cell;
    vertical-align: middle;
    color: #c0392b;
    font-weight: 600;
    font-size: 14px;
}
.button_style2 {
    margin-top: 4px
}
button#menu2 {
    /* padding: 1px 26px; */
    
    width: 60%;
    outline: 0px;
    background: #e4e1e1;
    color: #c0392b;
    font-weight: 600;
    text-align: left;
    font-size: 13px;
    float: right
}
span.caret {
    float: right;
    margin-top: 9px;
}
.dropdown,
.dropup {
    position: relative;
}
span.glyphicon.glyphicon-search.icn_left,
span.icns_right {
    line-height: 38px;
    float: right;
    margin-right: 2%;
    font-size: 15px;
}
#map,
#map2 {
    position: static!important;

}
.display_none {
    display: none
}
div#calender_dropdown {
    left: -26%;
    height: 48%;
}
.pignose-calendar .pignose-calendar-header .pignose-calendar-week {
    float: left;
    width: 14.28%;
    font-size: 10px;
    height: 2.8em;
    text-align: center;
    line-height: 2.8em;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.pignose-calendar .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-active a {
    background-color: #c0392b;
}
.width_3,
.width_3_rt {
    width: 32%;
    text-align: center;
    cursor: pointer;
    border-bottom: 3px solid #fff;
    font-size: 12px
}
p.numbers {
    font-size: 20px;
    margin-bottom: -3px
}
.width_3:hover p,
.width_3.active p,
.width_3_rt:hover p,
.width_3_rt.active p {
    color: #c0392b!important;
    cursor: pointer;
    trasition: all 300ms ease-in-out;
}
.width_3,
.width_3_rt {
    padding: 3px 0px
}
.width_3:hover,
.width_3.active,
.width_3_rt:hover,
.width_3_rt.active {
    border-bottom: 3px solid #c0392b;
    transition: all 400ms ease-in-out;
}
.left_window_assignments,
.connections_div {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .14)
}
p.assign {
    text-align: right;
    float: right;
    color: #9b59b6;
    font-size: 13px;
    font-weight: 600;
}
.left_window_body {
    padding: 10px 18px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .14)
}
p.div_display.body_text {
    color: #2f2d2d;
    font-weight: bolder;
    font-size: 13px;
}
.details_body .glyphicon {
    font-size: 12px;
}
.details_body p {
    font-size: 13px;
    color: #717171;
    font-weight: 300!important
}
.details_body .glyphicon {
    font-size: 12px!important;
    color: #717171;
}
.details_body {
    padding: 0px 0px;
    position: relative;
}
a#details_button {
    text-decoration: none;
    padding: 2px 10px;
    border: 1px solid #c7b1aa;
    color: #c1b1aa;
    font-size: 10px;
    float: right;
    border-radius: 2px;
    margin-top: 60px;
}
.connections_div {
    padding: 10px;
}
.connection_name {
    color: #232323;
    font-size: 12px;
    font-weight: 500;
    margin-left: 17px
}
span.indicator {
    background: green;
    width: 50px;
    height: 50px;
    content: '';
    color: transparent;
    border-radius: 50%;
}
span.indicator {
    background: #a7a7a7;
    font-size: 11px;
    content: '';
    color: transparent;
    border-radius: 53%;
    margin-right: 6px;
}
a#details_button:hover {
    background: #c0392b;
    color: #fff;
    transition: all 300ms ease-in-out;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-month {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: .4em;
}
ul.list-inline.glphIcons li a {
    margin-left: 0%;
}
a#addnew_but {
    width: 130%;
    color: #666666;
    text-decoration: none;
    padding: 6px 22px;
    background: #f5f3f3;
    margin-left: 0px;
    font-size: 14px;
    font-weight: 600;
    outline: 0;
}
a#addnew_but:hover {
    background: #c0392b;
    color: #fff;
    transition: all 300ms ease-in-out;
}
.modal-content {
    height: 100%;
}
.modal-dialog {
    width: 70%;
}
textarea#comment {
    resize: none;
    height: 60px;
}
.modal-body {
    position: relative;
    padding: 15px;
    height: 80%;
}
.modal-footer {
    padding: 15px;
    text-align: left;
}
button#popup_add,
.close_popup {
    background: #0295ce;
    border: 0px;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    padding: 6px 30px;
    border: 1px solid #0295ce;
    margin-right: 10px;
    outline: 0px
}
.close_popup {
    background: transparent
}
.close_popup {
    font-size: 14px;
    color: #716f6f;
    border: 1px solid grey;
}
button#popup_add:hover {
    background: #056d96;
    border: 1px solid #0295ce;
}
#map >div {
    height: 94%!important
}
ul.dropdown-menu.left_margin li a,
ul.dropdown-menu.right_margin li a {
    margin-left: 0px!important;
}
ul.dropdown-menu.left_margin span,
ul.dropdown-menu.right_margin span {
    font-size: 19px;
}
ul.dropdown-menu.left_margin {
    left: 35%
}
ul.dropdown-menu.right_margin {
    left: 0%;
    right: 35%
}
.dropdown-menu .divider {
    margin: 0px 0;
}
.dropdown-menu.left_margin>li>a {
    display: block;
    padding: 10px 9px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
ul.dropdown-menu.right_margin {
    /* position: absolute; */
    
    left: -175%;
}
ul.dropdown-menu.right_margin li a {
    padding: 10px;
}
.modal-title {
    font-weight: 800;
    color: #464545;
}
.form-control {
    margin-bottom: 10px;
}
.modal-header {
    background: #f9f9f9;
}
label#task_des {
    font-size: 12px;
    color: #757474;
    margin-right: 10px;
    margin-bottom: 9px
}
input#popup_mail {
    width: 48.8%;
    display: inline-block;
}
#input_type {
    width: 100%;
    padding: 10px;
    border: 1px solid aliceblue;
    outline: 0px;
    font-size: 12px;
    margin-bottom: 10px;
    color: #6f6969;
    color: #928b8b;
    background: #dde6e9;
}
p.popup_text {
    margin-top: -5px;
    font-size: 12px;
    color: #757474;
    font-weight: bold;
}
button#geofence {
    width: 49%;
    border: none;
    padding: 8px;
    font-size: 13px;
    outline: 0px;
}
button#popup_dropdown {
    width: 100%;
    font-size: 12px;
    border-color: #dde6e9;
    background: transparent;
    outline: 0px
}
p.div_display.connection_num {
    font-size: 12px;
}
.form-control {
    font-size: 12px;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: none;
}
input.qty_box {
    width: 35%;
}
hr {
    margin-top: 16px;
    margin-bottom: 9px;
    width: 100%;
    border: 0;
    border-top: 1px solid #dbdbdb;
}
.form-control {
    border-color: #dde6e9;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
input#sugg_price {
    width: 48.8%;
    margin-top: -5px;
}
button#bulk_import_but {
    padding: 8px 8px;
    border: 0px;
    background: #dbdbdb;
    color: #c0392b;
    font-size: 3px;
	position:relative!important;
}
li.open {
    position: relative;
}
#bulk_import_but {
    padding: 8px 8px;
    border: 0px;
    border-bottom: 2px solid #dbdbdb;
    margin-top: 1px;
    background: #dbdbdb;
color: #c0392b;}
span.glyphicon.glyphicon-triangle-bottom {
    margin: 0px;
    font-size: 12px;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 0px;
}
span.glyphicon.glyphicon-triangle-bottom.active {
    transfrom: deg(180);
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    transform: rotate(180deg);
    transition: all 300ms ease-in-out;
}
span.glyphicon.glyphicon-triangle-bottom{transition: all 300ms ease-in-out;}
div#bulk_tasks .modal-dialog {
    width: 40%;
    height:460px;
}
button#download_sample {
    border: 1px solid #d9d7d7;
    border-radius: 3px;
    font-size: 12px;
    padding: 10px 20px;
    color: #400000;
    background: #f9f9f9;
    font-weight: 600;
}
.iconsCount {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 24px;
    height: 24px;
    font-size: 17px;
    background: #BBB;
    color: #fff;
    padding: 0;
    text-decoration: none!important;
    float: left;
	margin-right:10px;
}
span.iconsCountText {
    font-size: 15px;
    color: #616161;
}
button#menu1_bulk {
    width: 100%;
    margin-top: 10px;
    background: #f9f9f9;
    text-align: left;
	padding: 8px 10px;
    border: 1px solid gainsboro;
    margin-bottom: 10px;
	font-size:12px
}
a#drop_but_bulk {
    clear: both;
    float: left;
    width: 100%;
    text-align: center;
    background: #f9f9f9;
    padding: 8px 0px;
    font-size: 12px;
    margin-top: 10px;
    border-radius: 3px;
    color: #6f6f6f;
    border: 1px solid gainsboro;
	text-decoration:none
}
@media screen and (max-width: 1371px) and (min-width: 1200px) {
    .left-window,
    .right-window {
        width: 22%;
    }
    .modal-dialog {
        width: 78%;
    }
}
@media screen and (max-width: 1199px) and (min-width: 992px) {
    .left-window,
    .right-window {
        width: 24%;
    }
    ul.list-inline.glphIcons li a {
        margin-left: 10%;
    }
    .modal-dialog {
        width: 80%;
    }
    input#sugg_price {
        width: 46.8%;
        margin-top: -5px;
    }
}




















div#display_blocks {
    text-align: right;
}
div#tasks_header {
    padding: 13px 15px;
    border-bottom: 1px solid #f7f6f6;
}
a.div_display.task_header_but,.filters_but {
    padding: 5px 20px;
    background: #c0392b;
    color: white;
    outline: 0px;
    border-radius: 3px;
    margin-right: 1%;
    font-size: 13px;
    text-decoration: none;
}
button.filters_but {
    width: 160px;
    border: none;
    background: #dcd9d9;
    color: #666666;
    font-weight: 600;
}
a.div_display.task_header_but:hover {
    background: #f17f00;
    transition: all 300ms ease-in-out;
}
input.filter_dates {
    border: 1px solid #e6d6d6;
    border-radius: 4px;
    padding: 4px 10px;
    font-size: 12px;
    margin-right: 2%;
    margin-left: 2%;   
	outline: 0px;
}
span#filter_dates {
    color: #a49090;
    font-size: 13px;
}
span#task_header_txt {
    color: #c0392b;
    font-size: 16px;
    font-weight: 600;
}
div#task_full_height {
    height: auto;
    background: #f5f5f5;
padding: 20px 30px;}
div#task_table_content {
    padding: 0px;
    border: 1px solid #ded9d9;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px;
	background:#fff!important;
	font-size:12px!important
}
th {
    color: #6f6f6f;font-size:12px!important
}
th.width_table_one {
    width: 90px;
}
th.width_table_two {
    width: 114px;
}
.table.dataTable>thead>tr>th {
    padding-right: 30px!important;
    vertical-align: middle;
    color: #505050;
}
th.width_table_checkbox {
    width: 30px;
}
.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border-bottom-width: 1px;
}
th, td {
    padding: 14px 14px 10px 8px !important;
}	
a.assigned {
    padding: 4px 6PX;
    background: #c0392b;
    border-radius: 4px;
    color: #fff;
    font-size: 9px;
    text-decoration: none;
    cursor: text;
}
td span.glyphicon{
    font-size: 13px!important;
    padding: 0px!important;
    margin: 0px;
}
td {
    vertical-align: middle!important;
}
button.btn.btn-default.btn-sm.div_display {
    margin-bottom: 2px;
}
input[type=checkbox], input[type=radio] {
    width: 20px;
height: 20px;}

.redfont a{color:#c0392b!important;
    font-weight: 800;
	}
	td {
    color: #696969;
	font-size:12px!important
}
#table_blocks_rt{font-size:12px;
text-align:right;
}
#table_blocks_rt{margin-left:10px;
outline:0px}

input[type="search"] {
    border: none;
    width: 70%;
    border-radius: 4px;
    outline: 0px;
    padding: 10px;
    color: #232323;
    font-size: 12px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 12px;
    color: #9c9292;
}
table.dataTable {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
    background: #fff;
}
table#example {
    border: 1px solid #eaeaea;
}
td, th {
    border-right: 1px solid #fffdfd;
    border-left: 1px solid #e6dede;
}
div#example_info {
    font-size: 12px;
    color: #7b7070;
}
div#example_length {
    padding-left: 10px;
    padding-top: 6px;
}
div#example_filter {
    padding-right: 10px;
	padding-top: 5px;
}
tr.odd {
    background: #fff!important;
}
div#example_paginate {
    font-size: 12px;
}
select {
    padding: 9px;
    border: 1px solid #dedede;
    border-radius: 5px;
}
table.dataTable thead th, table.dataTable thead td {
     border-bottom: 1px solid #ddd; 
}

div#edit_popup .modal-dialog {
    width: 30%;
}
button{outline:0px!important}

      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        position: static!important;
      }

      #origin-input,
      #destination-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 200px;
      }

      #origin-input:focus,
      #destination-input:focus {
        border-color: #4d90fe;
      }
      .pac-container {
    background-color: #FFF;
    z-index: 1054!important;
    position: fixed;
    display: inline-block;
    float: left;
}
.modal{
    z-index: 20;   
}
.modal-backdrop{
    z-index: 10;        
}​