/* Master Styles */
     body {
      font-family: 'Open Sans', sans-serif!important;
  }
  .modal-backdrop {
      z-index: 99!important
  }
  .modal {
      z-index: 100!important
  }
  body {
      overflow: hidden!important;
  }
  div#map>div {
      height: 94%!important;
      top: 50px!important;
  }
  .flatpickr-calendar.hasTime.dateIsPicked.arrowTop.open {
      padding: 10px!important;
  }
  .flatpickr-calendar span.cur-month {
      color: #0c98e1!important;
  }
  .flatpickr-day.selected,
  .flatpickr-day.selected:focus,
  .flatpickr-day.selected:hover,
  .flatpickr-day.selected.prevMonthDay,
  .flatpickr-day.selected.nextMonthDay {
      background: #004d75!important;
      color: #fff;
      border-color: #004d75!important;
  }
  .flatpickr-day.selected.endRange,
  .flatpickr-day.startRange.endRange,
  .flatpickr-day.endRange.endRange {
      border-radius: 0 50px 50px 0;
  }
  .flatpickr-day.selected.startRange,
  .flatpickr-day.startRange.startRange,
  .flatpickr-day.endRange.startRange {
      border-radius: 50px 0 0 50px;
  }
  input.form-control.input.active,
  input.form-control.input {
      width: 142px!important;
      display: inline-block;
      border: 1px solid #e6d6d6;
      border-radius: 4px;
      padding: 4px 10px;
      font-size: 12px;
      background: #f5f5f5;
      height: 26px;
      margin-left: 1%;
  }
  span.flatpickr-weekday {
      cursor: default;
      font-size: 90%;
      color: rgb(0, 153, 204);
      padding-top: 5px;
  }
  .intl-tel-input .flag-container{
      padding:0px!important
  }
  
  body {
      font-family: 'open sans'!important;
      font-size: 10px;
      line-height: 1.42857143;
      color: #333;
      background-color: #fff;
  }
  @media screen and (max-width: 992px) and (min-width: 100px) {
      body {
          min-width: 992px;
          overflow: auto!important
      }
      div#map>div {
          /*height: 94%!important;*/
          
          top: 100px!important;
      }
  }
  .leaflet-bottom,
  .leaflet-top {
      position: absolute;
      z-index: 0!important;
      pointer-events: none;
  }
  .flatpickr-calendar {
      position: fixed;
  }
  .leaflet-control-layers.leaflet-control {
      position: fixed!important;
      bottom: 21px!important;
      right: calc(50% - 16px)!important;
      display: none
  }
  img.leaflet-marker-icon.leaflet-zoom-animated.leaflet-interactive[title="pcikuplocation"] {
      border-radius: 50%;
      display: none!important;
  }
  @-webkit-keyframes pulsate {
      0% {
          -webkit-transform: scale(0.1, 0.1);
          opacity: 0.0;
      }
      50% {
          opacity: 1.0;
      }
      100% {
          -webkit-transform: scale(1.2, 1.2);
          opacity: 0.0;
      }
  }
  img#driver_img {
      position: absolute;
      top: -27px;
      left: -4px;
  }
  .gps_ring {
      border: 3px solid #a6d8f3;
      -webkit-border-radius: 30px;
      height: 22px;
      width: 22px;
      -webkit-animation: pulsate 1s ease-out;
      -webkit-animation-iteration-count: infinite;
      position: absolute;
      left: 0px;
      top: 4px;
      z-index: -1
  }
  .leaflet-popup-content .glyphicon {
      color: #227bc9!important;
      font-size: 10px;
      margin-right: 2px;
  }
  strong.popup_marker_header {
      font-size: 10px;
      color: grey;
      width: 40px;
      font-weight: 600;
      display: inline-block;
  }
  img#driver_pic_popup {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      position: absolute;
      top: -29px;
      left: calc(50% - 30px);
      background: white;
  }
  .leaflet-popup-content {
      padding: 10px 10px 15px;
      margin: 0;
      line-height: inherit;
      -webkit-box-shadow: 0px 10px 5px 0px rgba(51, 142, 222, 1);
      -moz-box-shadow: 0px 10px 5px 0px rgba(51, 142, 222, 1);
      box-shadow: 0px 2px 5px 0px rgba(51, 142, 222, 1);
  }
  .marker_popup p {
      margin: 3px!important;
      font-size: 11px;
      font-weight: 400;
  }
  img#marker_pop_img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      position: absolute;
      top: -55px;
      left: calc(50% - 26px);
  }
  .statusonline {
      font-size: 12px;
      margin-left: 26px;
      color: #05cc05;
      text-align: center
  }
  .statusoffline {
      font-size: 12px;
      margin-left: 26px;
      color: #b9b9b9;
      text-align: center
  }
  .gm-style .gm-style-iw {
      overflow: inherit!important;
      max-width: 150px
  }
  hr.location_bar {
      margin: 5px!important;
  }

  #toast-container>div{
    opacity:0.8!important;
}
.toast-title {
    font-size: 15px!important;
    color: #fff;
}

label.error {
    color: red !important;
}
